body {
  margin: 0;
  padding: 0;
  background-image: url('../imgbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  overflow: auto;
}
a {
  color: black;
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 680px;
  margin-top: 10px;
}
#text {
  width: 272px;
  height: 560px;
  left: 188px;
  top: 80px;
  position: absolute;
}
#code {
  display: none;
  color: rgb(196, 255, 255);
  font-size: 16px;
  margin-top: 70px;
  line-height: 25px;
  font-size: larger;
  font-weight: bolder;
}
#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  display: none;
}
#clock-box a {
  font-size: 28px;
  text-decoration: none;
}
#clock {
  margin-left: 48px;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  margin: 0 auto;
  width: 1100px;
  height: 680px;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 10px;
}
.space {
  margin-right: 120px;
}

#message-box{
  position: absolute;
  margin-top:520px;
  font-size: 25px;
  font-family: monospace;

}
.container{
    perspective: 800px;
}
.card{
    width: 420px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 1px;
    right : 100px;
    transition: 2s;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}
.block{
    position: absolute;
    top:120px;
    right: 550px;
    perspective: 800px;
}
.outside,.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
}
.outside{
    background-color: blanchedalmond;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    backface-visibility: hidden;
}
.outside h1{
    font-size: 3rem;
    font-weight: bold;
    color: salmon;
    margin-bottom: 30px;
}
.outside h3{
    font-size: 1.2rem;
    --font-weight: bold;
    color: red;
    margin-top: 20px;
}
.inside{
    background-color: rgb(255, 244, 79);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.inside h3{
    font-size: 1.2rem;
    font-weight: bold;
      color: salmon;
    margin-top: 20px;
}
.frames{
    width: 1000px;
    height: 150px;
    left :1150px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 0 0.9rem;

    transform: rotateY(-240deg) rotateX(30deg);
    position: absolute;
}
.frames img{
    width: 125px;
    height: 125px;
    border-radius: 40%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.frames p{
   font-size: 20px;
   font-weight: bold;
   transform: rotateY(180deg);
}
.frames:nth-child(1)
{
   top:-110px;
    width :200px
    z-index: -1;
    background-color: coral;
    left: 1150px;
    right :100px
}
.frames:nth-child(2){
    top : 50px;
    z-index: 1;
    background-color: goldenrod;
}
.frames:nth-child(3)
{
    top:200px;
    background-color: burlywood;
}
